---
http_interactions:
- request:
    method: post
    uri: https://api.yelp.com/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=ZfziXConRDv81b8gfdoynQ&client_secret=m7JVvkRqqGnQY1RMphvEhKzeycBYxb4hXzUEvSxGGYpwrMfsygleJSWmfbSlT1wS&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 359ca5cbd9ef7626
      X-Proxied:
      - 10-65-16-77-useast1bprod
    body:
      encoding: UTF-8
      string: '{"access_token": "3nxqF9XG0azr4wNhdDzEAXaZDBPRqmDUQ-rt3nT95ff2p10cjKvWMWtzDm1qTa5ewg0hhNPQnpJy_O0AZ0SBm02GK6nnvn3EvYcfl8RlO4Ek2flMnGxUwWTPWLDWWXYx",
        "expires_in": 638853948, "token_type": "Bearer"}'
  recorded_at: Sat, 21 Oct 2017 23:48:18 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/riveras-restaurant-springfield/reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 3nxqF9XG0azr4wNhdDzEAXaZDBPRqmDUQ-rt3nT95ff2p10cjKvWMWtzDm1qTa5ewg0hhNPQnpJy_O0AZ0SBm02GK6nnvn3EvYcfl8RlO4Ek2flMnGxUwWTPWLDWWXYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - f3203926a39a2061
      X-Proxied:
      - extlb3-r8-iad1
    body:
      encoding: UTF-8
      string: '{"reviews": [{"url": "https://www.yelp.com/biz/riveras-restaurant-springfield?hrid=EOB4h7hFRGreNnGctklw5w&adjust_creative=ZfziXConRDv81b8gfdoynQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=ZfziXConRDv81b8gfdoynQ",
        "text": "Family Owned\nGreat Service\nGreat Food\nTHE BEST SEAFOOD CEVICHE\nI''ve
        ever had\nAlong with the Papusas and Beans\nHORCHATA IS TO DIE FOR\nWill be
        going back real...", "rating": 5, "user": {"image_url": "https://s3-media1.fl.yelpcdn.com/photo/RE8-SCVwY3YCtdMknK9VWQ/o.jpg",
        "name": "Bridgette W."}, "time_created": "2017-10-17 02:14:32"}, {"url": "https://www.yelp.com/biz/riveras-restaurant-springfield?hrid=s_O3sOleWnv4tl90PiYqyQ&adjust_creative=ZfziXConRDv81b8gfdoynQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=ZfziXConRDv81b8gfdoynQ",
        "text": "Like one of the other reviews said, it''s a hole in the wall but,
        it''s definitely a place you should check out. This restaurant is located
        in Springfield...", "rating": 4, "user": {"image_url": "https://s3-media1.fl.yelpcdn.com/photo/vHTo9ZDpHHqUiikMmihSiA/o.jpg",
        "name": "Richard C."}, "time_created": "2017-10-04 04:55:07"}, {"url": "https://www.yelp.com/biz/riveras-restaurant-springfield?hrid=gJwqmFpSvdEWcZ-UtBF90Q&adjust_creative=ZfziXConRDv81b8gfdoynQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=ZfziXConRDv81b8gfdoynQ",
        "text": "Best lomo saltado!  The best place for it yet.  I''ve tried several
        other locations and nobody does it better.  Highly recommend!", "rating":
        5, "user": {"image_url": "https://s3-media2.fl.yelpcdn.com/photo/dLhLnjszOdXVDWkx-tSJSg/o.jpg",
        "name": "Bruce B."}, "time_created": "2017-09-27 17:52:22"}], "total": 89,
        "possible_languages": ["en"]}'
  recorded_at: Sat, 21 Oct 2017 23:48:19 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/wolf/reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 3nxqF9XG0azr4wNhdDzEAXaZDBPRqmDUQ-rt3nT95ff2p10cjKvWMWtzDm1qTa5ewg0hhNPQnpJy_O0AZ0SBm02GK6nnvn3EvYcfl8RlO4Ek2flMnGxUwWTPWLDWWXYx
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 1aed13648086cbe2
      X-Proxied:
      - extlb5-r7-iad1
    body:
      encoding: UTF-8
      string: '{"error": {"code": "BUSINESS_NOT_FOUND", "description": "The requested
        business could not be found."}}'
  recorded_at: Sun, 22 Oct 2017 01:26:04 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/ratkelehner/reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 3nxqF9XG0azr4wNhdDzEAXaZDBPRqmDUQ-rt3nT95ff2p10cjKvWMWtzDm1qTa5ewg0hhNPQnpJy_O0AZ0SBm02GK6nnvn3EvYcfl8RlO4Ek2flMnGxUwWTPWLDWWXYx
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 06ceb1b231bf4f9f
      X-Proxied:
      - extlb4-r9-iad1
    body:
      encoding: UTF-8
      string: '{"error": {"code": "BUSINESS_NOT_FOUND", "description": "The requested
        business could not be found."}}'
  recorded_at: Sun, 22 Oct 2017 01:26:38 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/bul-washington/reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 3nxqF9XG0azr4wNhdDzEAXaZDBPRqmDUQ-rt3nT95ff2p10cjKvWMWtzDm1qTa5ewg0hhNPQnpJy_O0AZ0SBm02GK6nnvn3EvYcfl8RlO4Ek2flMnGxUwWTPWLDWWXYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 8a09d40778666533
      X-Proxied:[...]
