---
http_interactions:
- request:
    method: post
    uri: https://api.yelp.com/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=ZfziXConRDv81b8gfdoynQ&client_secret=m7JVvkRqqGnQY1RMphvEhKzeycBYxb4hXzUEvSxGGYpwrMfsygleJSWmfbSlT1wS&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 9a16b87e6b87d42e
      X-Proxied:
      - extlb4-r9-iad1
    body:
      encoding: UTF-8
      string: '{"access_token": "3nxqF9XG0azr4wNhdDzEAXaZDBPRqmDUQ-rt3nT95ff2p10cjKvWMWtzDm1qTa5ewg0hhNPQnpJy_O0AZ0SBm02GK6nnvn3EvYcfl8RlO4Ek2flMnGxUwWTPWLDWWXYx",
        "expires_in": 638852942, "token_type": "Bearer"}'
  recorded_at: Sun, 22 Oct 2017 00:05:04 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=Washington,%20DC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 3nxqF9XG0azr4wNhdDzEAXaZDBPRqmDUQ-rt3nT95ff2p10cjKvWMWtzDm1qTa5ewg0hhNPQnpJy_O0AZ0SBm02GK6nnvn3EvYcfl8RlO4Ek2flMnGxUwWTPWLDWWXYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - f22104c9b0dde820
      X-Proxied:
      - 10-65-0-51-useast1aprod
    body:
      encoding: UTF-8
      string: '{"businesses": [{"id": "lincoln-memorial-washington-2", "name": "Lincoln
        Memorial", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/jMgApybamWU7NlPiUiGWiw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/lincoln-memorial-washington-2?adjust_creative=ZfziXConRDv81b8gfdoynQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ZfziXConRDv81b8gfdoynQ",
        "review_count": 757, "categories": [{"alias": "landmarks", "title": "Landmarks
        & Historical Buildings"}], "rating": 5.0, "coordinates": {"latitude": 38.8893459813715,
        "longitude": -77.0502001422584}, "transactions": [], "location": {"address1":
        "Lincoln Memorial Cir NW", "address2": "", "address3": "", "city": "Washington,
        DC", "zip_code": "20002", "country": "US", "state": "DC", "display_address":
        ["Lincoln Memorial Cir NW", "Washington, DC 20002"]}, "phone": "+12024266841",
        "display_phone": "(202) 426-6841", "distance": 2969.93638625}, {"id": "calabash-tea-bar-and-cafe-washington",
        "name": "Calabash Tea Bar & Cafe", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/b8yC5R2dzzIVJmt1v4BPmw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/calabash-tea-bar-and-cafe-washington?adjust_creative=ZfziXConRDv81b8gfdoynQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ZfziXConRDv81b8gfdoynQ",
        "review_count": 223, "categories": [{"alias": "coffee", "title": "Coffee &
        Tea"}, {"alias": "vegetarian", "title": "Vegetarian"}, {"alias": "cafes",
        "title": "Cafes"}], "rating": 5.0, "coordinates": {"latitude": 38.91509, "longitude":
        -77.02169}, "transactions": ["pickup", "restaurant_reservation"], "price":
        "$", "location": {"address1": "1847 7th St NW", "address2": "", "address3":
        "", "city": "Washington, DC", "zip_code": "20001", "country": "US", "state":
        "DC", "display_address": ["1847 7th St NW", "Washington, DC 20001"]}, "phone":
        "+12025255386", "display_phone": "(202) 525-5386", "distance": 884.5713169899999},
        {"id": "keren-restaurant-washington", "name": "Keren Restaurant", "image_url":
        "https://s3-media4.fl.yelpcdn.com/bphoto/aNeonDxPGL11eXUO[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?latitude=38.8977&longitude=-77.0365
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 3nxqF9XG0azr4wNhdDzEAXaZDBPRqmDUQ-rt3nT95ff2p10cjKvWMWtzDm1qTa5ewg0hhNPQnpJy_O0AZ0SBm02GK6nnvn3EvYcfl8RlO4Ek2flMnGxUwWTPWLDWWXYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 9c88e3101dcdf[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/bul-washington
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 3nxqF9XG0azr4wNhdDzEAXaZDBPRqmDUQ-rt3nT95ff2p10cjKvWMWtzDm1qTa5ewg0hhNPQnpJy_O0AZ0SBm02GK6nnvn3EvYcfl8RlO4Ek2flMnGxUwWTPWLDWWXYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 7ba68b60e869234c
      X-Proxied:
      - 10-65-16-149-useast1bprod
    body:
      encoding: UTF-8
      string: '{"id": "bul-washington", "name": "Bul", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/AcYacjW7k-tg-_UGvvCRmg/o.jpg",
        "is_claimed": true, "is_closed": false, "url": "https://www.yelp.com/biz/bul-washington?adjust_creative=ZfziXConRDv81b8gfdoynQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_lookup&utm_source=ZfziXConRDv81b8gfdoynQ",
        "phone": "+12027333921", "display_phone": "(202) 733-3921", "review_count":
        236, "categories": [{"alias": "korean", "title": "Korean"}, {"alias": "bars",
        "title": "Bars"}], "rating": 4.0, "location": {"address1": "2431 18th St NW",
        "address2": "", "address3": "", "city": "Washington, DC", "zip_code": "20009",
        "country": "US", "state": "DC", "display_address": ["2431 18th St NW", "Washington,
        DC 20009"], "cross_streets": "N Columbia Rd & N Adams Mill Rd"}, "coordinates":
        {"latitude": 38.921250049015, "longitude": -77.0419890467348}, "photos": ["https://s3-media4.fl.yelpcdn.com/bphoto/rme-xLwHQ6y5ZjEE_5JYyg/o.jpg",
        "https://s3-media2.fl.yelpcdn.com/bphoto/tkCQGfZG1IK9mz9s_xkbEg/o.jpg", "https://s3-media2.fl.yelpcdn.com/bphoto/QenRkRY_GfLCYt-rph44bA/o.jpg"],
        "price": "$$", "hours": [{"open": [{"is_overnight": false, "start": "1730",
        "end": "2230", "day": 1}, {"is_overnight": false, "start": "1730", "end":
        "2230", "day": 2}, {"is_overnight": false, "start": "1730", "end": "2230",
        "day": 3}, {"is_overnight": true, "start": "1730", "end": "0200", "day": 4},
        {"is_overnight": true, "start": "1630", "end": "0200", "day": 5}, {"is_overnight":
        false, "start": "1630", "end": "2200", "day": 6}], "hours_type": "REGULAR",
        "is_open_now": true}], "transactions": []}'
  recorded_at: Sun, 22 Oct 2017 00:17:10 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/---bul-washington
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 3nxqF9XG0azr4wNhdDzEAXaZDBPRqmDUQ-rt3nT95ff2p10cjKvWMWtzDm1qTa5ewg0hhNPQnpJy_O0AZ0SBm02GK6nnvn3EvYcfl8RlO4Ek2flMnGxUwWTPWLDWWXYx
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 462280d945f9a771
      X-Proxied:
      - extlb5-r7-iad1
    body:
      encoding: UTF-8
      string: '{"error": {"code": "BUSINESS_NOT_FOUND", "description": "The requested
        business could not be found."}}'
  recorded_at: Sun, 22 Oct 2017 00:17:44 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/invalid-yelp-uid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 3nxqF9XG0azr4wNhdDzEAXaZDBPRqmDUQ-rt3nT95ff2p10cjKvWMWtzDm1qTa5ewg0hhNPQnpJy_O0AZ0SBm02GK6nnvn3EvYcfl8RlO4Ek2flMnGxUwWTPWLDWWXYx
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 2d32590c25885005
      X-Proxied:
      - 10-65-16-149-useast1bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "BUSINESS_NOT_FOUND", "description": "The requested
        business could not be found."}}'
  recorded_at: Sun, 22 Oct 2017 00:18:24 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/bul-washington/reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 3nxqF9XG0azr4wNhdDzEAXaZDBPRqmDUQ-rt3nT95ff2p10cjKvWMWtzDm1qTa5ewg0hhNPQnpJy_O0AZ0SBm02GK6nnvn3EvYcfl8RlO4Ek2flMnGxUwWTPWLDWWXYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - c71acdb69322e9f0
      X-Proxied:
      - extlb5-r7-iad1
    body:
      encoding: UTF-8
      string: '{"reviews": [{"url": "https://www.yelp.com/biz/bul-washington?hrid=qsOSe7ZJVEKcriyWogXfwg&adjust_creative=ZfziXConRDv81b8gfdoynQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=ZfziXConRDv81b8gfdoynQ",
        "text": "A more modern take on a Korean bar in the heart of Adam''s Morgan.\n\nI
        absolutely love the vibe of this place, from the lighting to the wide variety
        of people...", "rating": 5, "user": {"image_url": "https://s3-media4.fl.yelpcdn.com/photo/Zv6q8qJupeksWhKaDJBroA/o.jpg",
        "name": "Cee K."}, "time_created": "2017-10-18 23:01:07"}, {"url": "https://www.yelp.com/biz/bul-washington?hrid=pEbRBBOEs237lqBdy1Vqxg&adjust_creative=ZfziXConRDv81b8gfdoynQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=ZfziXConRDv81b8gfdoynQ",
        "text": "They don''t take reservations on Fridays or Saturdays between 7-9pm.
        We arrived around 7:45 and there were a couple free tables. By 8 the place
        was filling...", "rating": 5, "user": {"image_url": "https://s3-media2.fl.yelpcdn.com/photo/rTTTFtVPg8Qa2BoyFJxP1w/o.jpg",
        "name": "Natalie M."}, "time_created": "2017-10-08 07:52:50"}, {"url": "https://www.yelp.com/biz/bul-washington?hrid=P2vwxnK_eUtmZOHkun3vDQ&adjust_creative=ZfziXConRDv81b8gfdoynQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=ZfziXConRDv81b8gfdoynQ",
        "text": "Overpriced , terrible service \n\nFood nothing  special. \n\nOverpriced    I
        was there by myself.  Asked for a recommendation.   Was told to order the
        grilled...", "rating": 1, "user": {"image_url": "https://s3-media3.fl.yelpcdn.com/photo/9mhhI_A0anNd_kdFsClVVw/o.jpg",
        "name": "Reza I."}, "time_created": "2017-10-01 17:12:11"}], "total": 236,
        "possible_languages": ["en", "ja"]}'
  recorded_at: Sun, 22 Oct 2017 00:18:45 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/invalid-yelp-uid/reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 3nxqF9XG0azr4wNhdDzEAXaZDBPRqmDUQ-rt3nT95ff2p10cjKvWMWtzDm1qTa5ewg0hhNPQnpJy_O0AZ0SBm02GK6nnvn3EvYcfl8RlO4Ek2flMnGxUwWTPWLDWWXYx
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 463054ed7b120410
      X-Proxied:
      - 10-65-16-149-useast1bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "BUSINESS_NOT_FOUND", "description": "The requested
        business could not be found."}}'
  recorded_at: Sun, 22 Oct 2017 00:18:45 GMT
recorded_with: VCR 3.0.3
